@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div class="p-3">
            Puzzle Size:&nbsp;&nbsp;<input type="text" id="puzzleSize" name="puzzleSize" style="width: 50px;">
            <input type="text" id="puzzleSize" name="puzzleSize">&nbsp;&nbsp;
            <a class="btn btn-default" href="">Add Word</a>&nbsp;&nbsp;
            <a class="btn btn-default" href="">Remove Last Word</a>&nbsp;&nbsp;
            <a class="btn btn-default" href="">Clear All Words</a>
        </div>       
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <table style="width: 100%;">
            <tr>
                <td class="puzzle-box">
                    <table style="width: 100%">
                        <tr>
                            <td class="puzzle-letter">A</td>
                            <td class="puzzle-letter">B</td>
                            <td class="puzzle-letter">C</td>
                            <td class="puzzle-letter">D</td>
                            <td class="puzzle-letter">E</td>
                            <td class="puzzle-letter">F</td>
                            <td class="puzzle-letter">G</td>
                            <td class="puzzle-letter">H</td>
                            <td class="puzzle-letter">I</td>
                            <td class="puzzle-letter">J</td>
                            <td class="puzzle-letter">A</td>
                            <td class="puzzle-letter">B</td>
                            <td class="puzzle-letter">C</td>
                            <td class="puzzle-letter">D</td>
                            <td class="puzzle-letter">E</td>
                            <td class="puzzle-letter">F</td>
                            <td class="puzzle-letter">G</td>
                            <td class="puzzle-letter">H</td>
                            <td class="puzzle-letter">I</td>
                            <td class="puzzle-letter">J</td>
                        </tr>
                        <tr>
                            <td class="puzzle-letter">A</td>
                            <td class="puzzle-letter">B</td>
                            <td class="puzzle-letter">C</td>
                            <td class="puzzle-letter">D</td>
                            <td class="puzzle-letter">E</td>
                            <td class="puzzle-letter">F</td>
                            <td class="puzzle-letter">G</td>
                            <td class="puzzle-letter">H</td>
                            <td class="puzzle-letter">I</td>
                            <td class="puzzle-letter">J</td>
                            <td class="puzzle-letter">A</td>
                            <td class="puzzle-letter">B</td>
                            <td class="puzzle-letter">C</td>
                            <td class="puzzle-letter">D</td>
                            <td class="puzzle-letter">E</td>
                            <td class="puzzle-letter">F</td>
                            <td class="puzzle-letter">G</td>
                            <td class="puzzle-letter">H</td>
                            <td class="puzzle-letter">I</td>
                            <td class="puzzle-letter">J</td>
                        </tr>
                        <tr>
                            <td class="puzzle-letter">A</td>
                            <td class="puzzle-letter">B</td>
                            <td class="puzzle-letter">C</td>
                            <td class="puzzle-letter">D</td>
                            <td class="puzzle-letter">E</td>
                            <td class="puzzle-letter">F</td>
                            <td class="puzzle-letter">G</td>
                            <td class="puzzle-letter">H</td>
                            <td class="puzzle-letter">I</td>
                            <td class="puzzle-letter">J</td>
                            <td class="puzzle-letter">A</td>
                            <td class="puzzle-letter">B</td>
                            <td class="puzzle-letter">C</td>
                            <td class="puzzle-letter">D</td>
                            <td class="puzzle-letter">E</td>
                            <td class="puzzle-letter">F</td>
                            <td class="puzzle-letter">G</td>
                            <td class="puzzle-letter">H</td>
                            <td class="puzzle-letter">I</td>
                            <td class="puzzle-letter">J</td>
                        </tr>
                        <tr>
                            <td class="puzzle-letter">A</td>
                            <td class="puzzle-letter">B</td>
                            <td class="puzzle-letter">C</td>
                            <td class="puzzle-letter">D</td>
                            <td class="puzzle-letter">E</td>
                            <td class="puzzle-letter">F</td>
                            <td class="puzzle-letter">G</td>
                            <td class="puzzle-letter">H</td>
                            <td class="puzzle-letter">I</td>
                            <td class="puzzle-letter">J</td>
                            <td class="puzzle-letter">A</td>
                            <td class="puzzle-letter">B</td>
                            <td class="puzzle-letter">C</td>
                            <td class="puzzle-letter">D</td>
                            <td class="puzzle-letter">E</td>
                            <td class="puzzle-letter">F</td>
                            <td class="puzzle-letter">G</td>
                            <td class="puzzle-letter">H</td>
                            <td class="puzzle-letter">I</td>
                            <td class="puzzle-letter">J</td>
                        </tr>
                        <tr>
                            <td class="puzzle-letter">A</td>
                            <td class="puzzle-letter">B</td>
                            <td class="puzzle-letter">C</td>
                            <td class="puzzle-letter">D</td>
                            <td class="puzzle-letter">E</td>
                            <td class="puzzle-letter">F</td>
                            <td class="puzzle-letter">G</td>
                            <td class="puzzle-letter">H</td>
                            <td class="puzzle-letter">I</td>
                            <td class="puzzle-letter">J</td>
                            <td class="puzzle-letter">A</td>
                            <td class="puzzle-letter">B</td>
                            <td class="puzzle-letter">C</td>
                            <td class="puzzle-letter">D</td>
                            <td class="puzzle-letter">E</td>
                            <td class="puzzle-letter">F</td>
                            <td class="puzzle-letter">G</td>
                            <td class="puzzle-letter">H</td>
                            <td class="puzzle-letter">I</td>
                            <td class="puzzle-letter">J</td>
                        </tr>
                        <tr>
                            <td class="puzzle-letter">A</td>
                            <td class="puzzle-letter">B</td>
                            <td class="puzzle-letter">C</td>
                            <td class="puzzle-letter">D</td>
                            <td class="puzzle-letter">E</td>
                            <td class="puzzle-letter">F</td>
                            <td class="puzzle-letter">G</td>
                            <td class="puzzle-letter">H</td>
                            <td class="puzzle-letter">I</td>
                            <td class="puzzle-letter">J</td>
                            <td class="puzzle-letter">A</td>
                            <td class="puzzle-letter">B</td>
                            <td class="puzzle-letter">C</td>
                            <td class="puzzle-letter">D</td>
                            <td class="puzzle-letter">E</td>
                            <td class="puzzle-letter">F</td>
                            <td class="puzzle-letter">G</td>
                            <td class="puzzle-letter">H</td>
                            <td class="puzzle-letter">I</td>
                            <td class="puzzle-letter">J</td>
                        </tr>
                        <tr>
                            <td class="puzzle-letter">A</td>
                            <td class="puzzle-letter">B</td>
                            <td class="puzzle-letter">C</td>
                            <td class="puzzle-letter">D</td>
                            <td class="puzzle-letter">E</td>
                            <td class="puzzle-letter">F</td>
                            <td class="puzzle-letter">G</td>
                            <td class="puzzle-letter">H</td>
                            <td class="puzzle-letter">I</td>
                            <td class="puzzle-letter">J</td>
                            <td class="puzzle-letter">A</td>
                            <td class="puzzle-letter">B</td>
                            <td class="puzzle-letter">C</td>
                            <td class="puzzle-letter">D</td>
                            <td class="puzzle-letter">E</td>
                            <td class="puzzle-letter">F</td>
                            <td class="puzzle-letter">G</td>
                            <td class="puzzle-letter">H</td>
                            <td class="puzzle-letter">I</td>
                            <td class="puzzle-letter">J</td>
                        </tr>
                        <tr>
                            <td class="puzzle-letter">A</td>
                            <td class="puzzle-letter">B</td>
                            <td class="puzzle-letter">C</td>
                            <td class="puzzle-letter">D</td>
                            <td class="puzzle-letter">E</td>
                            <td class="puzzle-letter">F</td>
                            <td class="puzzle-letter">G</td>
                            <td class="puzzle-letter">H</td>
                            <td class="puzzle-letter">I</td>
                            <td class="puzzle-letter">J</td>
                            <td class="puzzle-letter">A</td>
                            <td class="puzzle-letter">B</td>
                            <td class="puzzle-letter">C</td>
                            <td class="puzzle-letter">D</td>
                            <td class="puzzle-letter">E</td>
                            <td class="puzzle-letter">F</td>
                            <td class="puzzle-letter">G</td>
                            <td class="puzzle-letter">H</td>
                            <td class="puzzle-letter">I</td>
                            <td class="puzzle-letter">J</td>
                        </tr>
                        <tr>
                            <td class="puzzle-letter">A</td>
                            <td class="puzzle-letter">B</td>
                            <td class="puzzle-letter">C</td>
                            <td class="puzzle-letter">D</td>
                            <td class="puzzle-letter">E</td>
                            <td class="puzzle-letter">F</td>
                            <td class="puzzle-letter">G</td>
                            <td class="puzzle-letter">H</td>
                            <td class="puzzle-letter">I</td>
                            <td class="puzzle-letter">J</td>
                            <td class="puzzle-letter">A</td>
                            <td class="puzzle-letter">B</td>
                            <td class="puzzle-letter">C</td>
                            <td class="puzzle-letter">D</td>
                            <td class="puzzle-letter">E</td>
                            <td class="puzzle-letter">F</td>
                            <td class="puzzle-letter">G</td>
                            <td class="puzzle-letter">H</td>
                            <td class="puzzle-letter">I</td>
                            <td class="puzzle-letter">J</td>
                        </tr>
                        <tr>
                            <td class="puzzle-letter">A</td>
                            <td class="puzzle-letter">B</td>
                            <td class="puzzle-letter">C</td>
                            <td class="puzzle-letter">D</td>
                            <td class="puzzle-letter">E</td>
                            <td class="puzzle-letter">F</td>
                            <td class="puzzle-letter">G</td>
                            <td class="puzzle-letter">H</td>
                            <td class="puzzle-letter">I</td>
                            <td class="puzzle-letter">J</td>
                            <td class="puzzle-letter">A</td>
                            <td class="puzzle-letter">B</td>
                            <td class="puzzle-letter">C</td>
                            <td class="puzzle-letter">D</td>
                            <td class="puzzle-letter">E</td>
                            <td class="puzzle-letter">F</td>
                            <td class="puzzle-letter">G</td>
                            <td class="puzzle-letter">H</td>
                            <td class="puzzle-letter">I</td>
                            <td class="puzzle-letter">J</td>
                        </tr>
                        <tr>
                            <td class="puzzle-letter">A</td>
                            <td class="puzzle-letter">B</td>
                            <td class="puzzle-letter">C</td>
                            <td class="puzzle-letter">D</td>
                            <td class="puzzle-letter">E</td>
                            <td class="puzzle-letter">F</td>
                            <td class="puzzle-letter">G</td>
                            <td class="puzzle-letter">H</td>
                            <td class="puzzle-letter">I</td>
                            <td class="puzzle-letter">J</td>
                            <td class="puzzle-letter">A</td>
                            <td class="puzzle-letter">B</td>
                            <td class="puzzle-letter">C</td>
                            <td class="puzzle-letter">D</td>
                            <td class="puzzle-letter">E</td>
                            <td class="puzzle-letter">F</td>
                            <td class="puzzle-letter">G</td>
                            <td class="puzzle-letter">H</td>
                            <td class="puzzle-letter">I</td>
                            <td class="puzzle-letter">J</td>
                        </tr>
                        <tr>
                            <td class="puzzle-letter">A</td>
                            <td class="puzzle-letter">B</td>
                            <td class="puzzle-letter">C</td>
                            <td class="puzzle-letter">D</td>
                            <td class="puzzle-letter">E</td>
                            <td class="puzzle-letter">F</td>
                            <td class="puzzle-letter">G</td>
                            <td class="puzzle-letter">H</td>
                            <td class="puzzle-letter">I</td>
                            <td class="puzzle-letter">J</td>
                            <td class="puzzle-letter">A</td>
                            <td class="puzzle-letter">B</td>
                            <td class="puzzle-letter">C</td>
                            <td class="puzzle-letter">D</td>
                            <td class="puzzle-letter">E</td>
                            <td class="puzzle-letter">F</td>
                            <td class="puzzle-letter">G</td>
                            <td class="puzzle-letter">H</td>
                            <td class="puzzle-letter">I</td>
                            <td class="puzzle-letter">J</td>
                        </tr>
                        <tr>
                            <td class="puzzle-letter">A</td>
                            <td class="puzzle-letter">B</td>
                            <td class="puzzle-letter">C</td>
                            <td class="puzzle-letter">D</td>
                            <td class="puzzle-letter">E</td>
                            <td class="puzzle-letter">F</td>
                            <td class="puzzle-letter">G</td>
                            <td class="puzzle-letter">H</td>
                            <td class="puzzle-letter">I</td>
                            <td class="puzzle-letter">J</td>
                            <td class="puzzle-letter">A</td>
                            <td class="puzzle-letter">B</td>
                            <td class="puzzle-letter">C</td>
                            <td class="puzzle-letter">D</td>
                            <td class="puzzle-letter">E</td>
                            <td class="puzzle-letter">F</td>
                            <td class="puzzle-letter">G</td>
                            <td class="puzzle-letter">H</td>
                            <td class="puzzle-letter">I</td>
                            <td class="puzzle-letter">J</td>
                        </tr>
                        <tr>
                            <td class="puzzle-letter">A</td>
                            <td class="puzzle-letter">B</td>
                            <td class="puzzle-letter">C</td>
                            <td class="puzzle-letter">D</td>
                            <td class="puzzle-letter">E</td>
                            <td class="puzzle-letter">F</td>
                            <td class="puzzle-letter">G</td>
                            <td class="puzzle-letter">H</td>
                            <td class="puzzle-letter">I</td>
                            <td class="puzzle-letter">J</td>
                            <td class="puzzle-letter">A</td>
                            <td class="puzzle-letter">B</td>
                            <td class="puzzle-letter">C</td>
                            <td class="puzzle-letter">D</td>
                            <td class="puzzle-letter">E</td>
                            <td class="puzzle-letter">F</td>
                            <td class="puzzle-letter">G</td>
                            <td class="puzzle-letter">H</td>
                            <td class="puzzle-letter">I</td>
                            <td class="puzzle-letter">J</td>
                        </tr>
                        <tr>
                            <td class="puzzle-letter">A</td>
                            <td class="puzzle-letter">B</td>
                            <td class="puzzle-letter">C</td>
                            <td class="puzzle-letter">D</td>
                            <td class="puzzle-letter">E</td>
                            <td class="puzzle-letter">F</td>
                            <td class="puzzle-letter">G</td>
                            <td class="puzzle-letter">H</td>
                            <td class="puzzle-letter">I</td>
                            <td class="puzzle-letter">J</td>
                            <td class="puzzle-letter">A</td>
                            <td class="puzzle-letter">B</td>
                            <td class="puzzle-letter">C</td>
                            <td class="puzzle-letter">D</td>
                            <td class="puzzle-letter">E</td>
                            <td class="puzzle-letter">F</td>
                            <td class="puzzle-letter">G</td>
                            <td class="puzzle-letter">H</td>
                            <td class="puzzle-letter">I</td>
                            <td class="puzzle-letter">J</td>
                        </tr>
                        <tr>
                            <td class="puzzle-letter">A</td>
                            <td class="puzzle-letter">B</td>
                            <td class="puzzle-letter">C</td>
                            <td class="puzzle-letter">D</td>
                            <td class="puzzle-letter">E</td>
                            <td class="puzzle-letter">F</td>
                            <td class="puzzle-letter">G</td>
                            <td class="puzzle-letter">H</td>
                            <td class="puzzle-letter">I</td>
                            <td class="puzzle-letter">J</td>
                            <td class="puzzle-letter">A</td>
                            <td class="puzzle-letter">B</td>
                            <td class="puzzle-letter">C</td>
                            <td class="puzzle-letter">D</td>
                            <td class="puzzle-letter">E</td>
                            <td class="puzzle-letter">F</td>
                            <td class="puzzle-letter">G</td>
                            <td class="puzzle-letter">H</td>
                            <td class="puzzle-letter">I</td>
                            <td class="puzzle-letter">J</td>
                        </tr>
                        <tr>
                            <td class="puzzle-letter">A</td>
                            <td class="puzzle-letter">B</td>
                            <td class="puzzle-letter">C</td>
                            <td class="puzzle-letter">D</td>
                            <td class="puzzle-letter">E</td>
                            <td class="puzzle-letter">F</td>
                            <td class="puzzle-letter">G</td>
                            <td class="puzzle-letter">H</td>
                            <td class="puzzle-letter">I</td>
                            <td class="puzzle-letter">J</td>
                            <td class="puzzle-letter">A</td>
                            <td class="puzzle-letter">B</td>
                            <td class="puzzle-letter">C</td>
                            <td class="puzzle-letter">D</td>
                            <td class="puzzle-letter">E</td>
                            <td class="puzzle-letter">F</td>
                            <td class="puzzle-letter">G</td>
                            <td class="puzzle-letter">H</td>
                            <td class="puzzle-letter">I</td>
                            <td class="puzzle-letter">J</td>
                        </tr>
                        <tr>
                            <td class="puzzle-letter">A</td>
                            <td class="puzzle-letter">B</td>
                            <td class="puzzle-letter">C</td>
                            <td class="puzzle-letter">D</td>
                            <td class="puzzle-letter">E</td>
                            <td class="puzzle-letter">F</td>
                            <td class="puzzle-letter">G</td>
                            <td class="puzzle-letter">H</td>
                            <td class="puzzle-letter">I</td>
                            <td class="puzzle-letter">J</td>
                            <td class="puzzle-letter">A</td>
                            <td class="puzzle-letter">B</td>
                            <td class="puzzle-letter">C</td>
                            <td class="puzzle-letter">D</td>
                            <td class="puzzle-letter">E</td>
                            <td class="puzzle-letter">F</td>
                            <td class="puzzle-letter">G</td>
                            <td class="puzzle-letter">H</td>
                            <td class="puzzle-letter">I</td>
                            <td class="puzzle-letter">J</td>
                        </tr>
                        <tr>
                            <td class="puzzle-letter">A</td>
                            <td class="puzzle-letter">B</td>
                            <td class="puzzle-letter">C</td>
                            <td class="puzzle-letter">D</td>
                            <td class="puzzle-letter">E</td>
                            <td class="puzzle-letter">F</td>
                            <td class="puzzle-letter">G</td>
                            <td class="puzzle-letter">H</td>
                            <td class="puzzle-letter">I</td>
                            <td class="puzzle-letter">J</td>
                            <td class="puzzle-letter">A</td>
                            <td class="puzzle-letter">B</td>
                            <td class="puzzle-letter">C</td>
                            <td class="puzzle-letter">D</td>
                            <td class="puzzle-letter">E</td>
                            <td class="puzzle-letter">F</td>
                            <td class="puzzle-letter">G</td>
                            <td class="puzzle-letter">H</td>
                            <td class="puzzle-letter">I</td>
                            <td class="puzzle-letter">J</td>
                        </tr>
                        <tr>
                            <td class="puzzle-letter">A</td>
                            <td class="puzzle-letter">B</td>
                            <td class="puzzle-letter">C</td>
                            <td class="puzzle-letter">D</td>
                            <td class="puzzle-letter">E</td>
                            <td class="puzzle-letter">F</td>
                            <td class="puzzle-letter">G</td>
                            <td class="puzzle-letter">H</td>
                            <td class="puzzle-letter">I</td>
                            <td class="puzzle-letter">J</td>
                            <td class="puzzle-letter">A</td>
                            <td class="puzzle-letter">B</td>
                            <td class="puzzle-letter">C</td>
                            <td class="puzzle-letter">D</td>
                            <td class="puzzle-letter">E</td>
                            <td class="puzzle-letter">F</td>
                            <td class="puzzle-letter">G</td>
                            <td class="puzzle-letter">H</td>
                            <td class="puzzle-letter">I</td>
                            <td class="puzzle-letter">J</td>
                        </tr>
                    </table>
                </td>
                <td class="word-box">
                    WORD 1<br>
                    WORD 2<br>
                    WORD 3<br>
                    WORD 4<br>
                    WORD 5<br>
                    WORD 6<br>
                    WORD 7<br>
                    WORD 8<br>
                    WORD 9<br>
                    WORD 10
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="p-3">
            <a class="btn btn-default" href="">Show Answers</a>
        </div>            
    </div>
</div>
