@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div class="p-3">
            Puzzle Size:&nbsp;&nbsp;<input type="text" id="puzzleSize" name="puzzleSize" style="width: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" id="puzzleSize" name="puzzleSize">&nbsp;&nbsp;
            <a class="btn btn-default" href="">Add Word</a>&nbsp;&nbsp;
            <a class="btn btn-default" href="">Remove Last Word</a>&nbsp;&nbsp;
            <a class="btn btn-default" href="">Clear All Words</a>
        </div>       
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        @Html.Partial("_Puzzle")
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="p-3">
            <a class="btn btn-default" href="">Build Puzzle</a>&nbsp;&nbsp;
            <a class="btn btn-default" href="">Show Answers</a>
        </div>            
    </div>
</div>
