@model WordPuzzle.ViewModels.PuzzleViewModel

<head>
    <script src="/Scripts/jquery.validate.min.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $("#buildPuzzle").click(function (e) {
                e.preventDefault();
                var _this = $(this);
                var _form = _this.closest("form");

                var isvalid = _form.valid();  // Tells whether the form is valid

                if (isvalid) {
                    $.ajax({
                        url: _form.attr("action"),
                        type: "POST",
                        data: _form.serialize(),
                        success: function (data) {
                            $("#puzzleTable").html(data);
                            $("#puzzleErrors").empty();
                        },
                        error: function (errors) {                            
                            $("#puzzleErrors").html(errors.responseJSON.errors);
                        }
                    });
                }
            });

            $("#toggleAnswers").click(function (e) {
                e.preventDefault();
                $.ajax({
                    url: '/Home/ToggleAnswers',
                    type: "GET",
                    success: function (data) {
                        $("#puzzleTable").html(data);
                    }
                });
            });
        });
    </script>
</head>

<body>
    @using (Html.BeginForm("BuildPuzzle", "Home", FormMethod.Post))
    {
        <div class="row">
            <div class="col-md-9">
                <div class="p-3">
                    <h4>Welcome to Word Search! Enter a number for the puzzle size, add a list of words in the textbox to the right, then click Build Puzzle to auto-generate a word search!</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="p-3">
                    Puzzle Size:&nbsp; &nbsp;
                    @Html.EditorFor(model => model.PuzzleSize, new { htmlAttributes = new { @style = "width: 50px;" } });&nbsp;&nbsp;
                    <button id="buildPuzzle" class="btn btn-default">Build Puzzle</button>
                    @Html.ValidationMessageFor(model => model.PuzzleSize)&nbsp;&nbsp;
                    @Html.ValidationMessageFor(model => model.PuzzleWordList)&nbsp;&nbsp;
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-9">
                <div class="p-3">
                    <div id="puzzleErrors" class="field-validation-error"></div>
                </div>
            </div>
        </div>        

        <div class="row">
            <div class="col-md-9">
                <table style="width: 100%;">
                    <tr>
                        <td id="puzzleTable" class="puzzle-box"></td>
                        <td>@Html.TextAreaFor(model => model.PuzzleWordList);</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="p-3">
                    <button id="toggleAnswers" class="btn btn-default">Toggle Answers</button>
                </div>
            </div>
        </div>
    }
</body>
